/* Виводити при друці назву сайту, заголовок та вміст сторінки, приховавши решту шапки та підвал сайту */
header, footer, nav {
    display: none;
}

/* Видалити з виводу всі фонові зображення та кольори */
body {
    background: none;
}

/* Відобразити повний URL взамін гіпертекстових посилань */
a:after {
    content: " (" attr(href) ")";
}

/* Для тексту передбачити вивід з використанням шрифтів с засіками (Times New Roman, Georgia, Palatino) */
body {
    font-family: "Times New Roman", Times, serif;
}

/* Встановити поля при друці рівні 50px */
body {
    padding: 50px;
}
