body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#E01625, #963B42, #78040D, #F4616C, #F49BA2);
    color: #F4616C; 
}

header, footer, main {
    width: 90%; /* Зміна ширини на 90% */
    margin: 0 auto;
    padding: 20px; 
}

a {
    color: #963B42;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #78040D; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Додано */
    text-align: center; /* Додано */
}

nav ul li {
    display: block; /* Зміна на блочний елемент */
    margin-bottom: 10px; /* Відступ між пунктами меню */
}

#biography {
    background-color: #F49BA2; 
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #F49BA2; 
    padding: 10px 0;
}
